<% provide(:title, "Home") %>
<div class="center jumbotron">
    <%= link_to image_tag("1RLC.jpg", alt: "1 Regt RLC logo"),
            'http://www.army.mod.uk/logistic/regiments/24861.aspx' %>
    <h1>1 Regiment RLC <br>Light Aid Detachment</h1>
    <p>
        This is the home page for 1 RLC LAD Personnel Management.
    </p>
    
    <%= link_to "Login Now!", login_path, class: "btn btn-lg btn-primary" %>
</div>

