<li>
  <%= image_tag(employee.avatar(:thumb), :alt => "avatar") %>
  <%= link_to employee.substantive_rank + " " + employee.first_name + " " + employee.last_name, employee %>

  <% if current_employee.admin? && !current_employee?(employee) %>
    | <%= link_to "delete", employee, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>